* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('image/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Navabr Section */

.navbar {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.logo {
    padding: 0 10%;
}

.logo img {
    width: 6em;
}

i.fa-solid {
    display: none;
}

.nav-link {
    display: flex;
    font-size: 20px;

}

.nav-link li {
    list-style: none;
    position: relative;
    padding: 0 20px;
    display: inline-block;
}

.nav-link li a {
    text-decoration: none;
}

.nav-link li::after {
    content: '';
    background: red;
    height: 2px;
    width: 0%;
    display: block;
    margin: auto;
    transition: 0.5s;
    /* If you want to set the width in pixel use positon attribute then it 
       will keep the width of pseudo-element respect to parent element li */
    /* position: absolute; */
}

.nav-link li:hover::after {
    width: 108%;
}

/* Header Text Section */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 47em;
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 5em;
}

.sub-text {
    font-family: "Arsenal SC", sans-serif;
    font-size: 26px;
    padding: 0 128px;
}

.btn-container {
    display: flex;
    width: 60%;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 20%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: 2px solid white;
    margin: 30px 49px;
}

.btn:hover {
    cursor: pointer;
    background-color: #f44336;
    transition: 1s;
}

/* Cards Section */

.card-section {
    background: linear-gradient(to right, rgba(81, 74, 157, 1.5), rgba(36, 198, 220, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title {
    padding: 23px;
    text-align: center;
    font-size: 30px;
}

.card-title hr {
    margin: auto;
    width: 12em;
    height: 2px;
    background-color: #897979;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    width: 355px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 1.2);
}

.card-container img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 23px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.card-content p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    background-color: black;
    height: 45px;
    padding: 8px;
    text-align: center;
}

.footer p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* About Section */
#about-section {
    background-color: antiquewhite;
    height: 100vh;
    overflow: hidden;
}

.out-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    flex-wrap: wrap;
}

.abt-container {
    display: flex;
    background-color: black;
    justify-content: center;
    height: 70%;
    width: 87%;
    box-shadow: 5px 6px 12px grey;
    overflow: hidden;
    border-radius: 20px;
    flex: 1;
}

.abt-container img {
    width: 80%;
    height: auto;
    flex: 1;
}

.abt-content {
    flex: 1;
    padding: 40px;
}

.abt-content h3 {
    font-size: 3em;
    text-align: center;
}

.abt-content p {
    padding: 10px;
    line-height: 1.5;
    font-size: 1.5em;
}

/* Contact Section */

#contact-section {
    background-color: silver;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.box{
    background-color: white;
    height: 26em;
    width: 32em;
    margin: auto;
    transform: translate(10px, -23px);
    top: 172px;
    padding: 49px;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 1.2);
}
.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    position: absolute;
}

.contact-content{
    margin-bottom: 23px;
    font-size:32px;
}

.contact-content input{
    width: 72%;
    height: 68%;
    font-size: 23px;
    padding: 10px;
    border: 1px solid black;
}

.contact-content textarea{
    width: 90%;
    height: 68%;
    font-size: 23px;
    padding: 10px;
    border: 1px solid black;
}

.msg{
    margin-left: 23px;
}


.submit-btn{
    width: 6em;
    height: 41px;
    font-size: 18px;
}

.submit-btn:hover{
    background-color: #00bcd4;
    cursor: pointer;
}

.icon{
    padding-left: 20.7em;
    padding-bottom: 2.5em;
    font-size: 28px;
    color: #1252be;
    position: absolute;
}

.fa-brands:hover{
    cursor: pointer;
}
.fa-brands{
    margin:23px;
}

/* Blogs Section */
#blogs-section{
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url('image/blog.jpeg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 7%;
    padding-bottom: 7%;
}
/* Utilities class */

.white {
    color: white;
}

.black {
    color: black;
}

/* Blogs Section */
.blogs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
}

.blog-item{
    background-color: white;
    width: 59%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 44px;
    height: 100%;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.blog-item:hover{
    cursor: pointer;
    transform:scale(1.2);
}

.blog-item img{
    max-width: 40%;
    height: 100%;
    border-radius: 20px;
    float: left;
    margin-right: 30px;
}

.blog-content{
    padding: 14px 18px 11px 17px;
    font-size: 20px;
}

.blog-content h3{
    margin-bottom: 8px;
}

@media(max-width: 1249px){
    .icon{
        padding-left: 13.7em;
        padding-bottom: 2em;
    }
}